:root {
    background-color: aquamarine;
}

body * {
    font-family: 'Inter', sans-serif;
}

.container .cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cabecalho .btnback {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cabecalho .btnback a {
    text-decoration: none;
    color: black;
}

.cabecalho .txtPage {
    width: 90%;
}

.cabecalho .txtPage h2 {
    text-align: center;
    font-size: 14px;
}

.container .cad__chave {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: lightgreen;
}

.cad__chave .chave__tools {
    display: flex;
    justify-content: left;
    align-items: center;
}

.cad__chave .chave__tools i {
    margin-right: 30px;
}

.cad__chave .info__cad h2 {
    font-size: 15px;
    font-weight: 600;
}

.cad__chave .info__cad p {
    font-size: 12px;
    color: #ffffff;
}

.fazer__pix{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fazer__pix h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.fazer__pix .fazerPix{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height: 100px;
    background-color: black;
    color: lightgreen;
    width: 100%;
    margin: 4px;
}

.fazer__pix .fazerPix i {
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
}

.fazer__pix .fazerPix a {
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}
